<main role="main">
  <section>
    <component name="contentblock">
        <routing path="#page1" name="pages/page1"></routing>
        <routing path="#page2" name="pages/page2"></routing>
        <routing path="#page3" name="pages/page3"></routing>
        <routing path="#signup" name="signup"></routing>
        <routing path="#signin" name="login2"></routing>
        <routing path="#" name="contentblock"></routing>
        <routing path="" name="contentblock"></routing>
      </component>
  </section>
</main>
<footer>
  <component name="footer">
      <routing path="#signup" name="signupbuttons"></routing>
      <routing path="#page1" name="footer2"></routing>
      <routing path="#page2" name="footer2"></routing>
      <routing path="#page3" name="footer"></routing>
      <routing path="#" name="footer"></routing>
      <routing path="" name="footer"></routing>
  </component>
</footer>
